body {
    background: black;
    color: white;
    font-family: Arial;
    text-align: center;
  }
  
section div img{
  width:70px
}  

.pokemonData .container img {
  width: 30%;
  margin: 0 auto;
}